<section class="card">

<!-- Each posted shows user and posted on time -->
<a href="/post/{{id}}">
    <header>
      <div>{{title}}</div>
      <div id="poster">Posted on {{format_time createdAt}} by {{user.username}}</div>
    </header>
      <div class="card-body">
        <p>{{content}}</p>
      </div>
      
</a>

</section>